

<div class="col p-md-5 mb-4 text-black rounded box-color">
    <div class="col-md-6">
      <h1 class="display-4 pb-1 box-text">Stay curious.</h1>    
      <div class="cube-body ">

          <div class="cube-box-body">
          <h4 class="wordCarousel div mt-1 pb-4">Discover  </h4>
            <h4 class="wordCarousel mt-2">
              
              <div class="pb-6 pt-1">
                <!-- Use classes 2,3, or 4 to match the number of words -->
                <ul class="flip4">
                    <li >stories</li>
                    <li >thinking</li>
                    <li >expertise</li>
                  </ul>
            </div>
            </h4>
          </div>
    </div>
      <p class="my-5  btn btn btn-outline-dark"><a href="#" class="text-black fw-bold" style="text-decoration: none;">Start reading...</a></p>


    </div>
  </div>
<div class="">

    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-success">
          <h3 class="mb-0">Get more with membership.</h3>
          <p class="card-text mb-auto">Become a Medium member to enjoy unlimited access and directly support the writers you read most.</p>
          <a href="#" class=" btn btn-outline-light p-1">See membership options</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background-color: #000000;color: rgb(254, 253, 253);" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Publish, grow, and earn, all in one place.</h3>
          <p class="mb-auto">If you have a story to tell, knowledge to share, or a perspective to offer — welcome home.</p>
          <a href="{% url 'create_post' %}" class=" btn btn-outline-light p-1">Start Writing</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>  
</div>
