{% extends 'baseapp/base.html' %}

{% block content %}

<div class="p-5" style="width: auto; height: 600px;position: relative;">
<h2>Thanks for visiting</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam et mauris mattis consequat. Nunc sit amet dui nec risus consequat hendrerit. Sed ut lorem vitae nibh mollis dignissim et ut nisi. Quisque tincidunt leo rhoncus mi ullamcorper, nec laoreet dolor accumsan. Nullam at neque quis lectus egestas finibus a ut eros. Pellentesque in maximus mauris, eu dictum nisi. Donec vitae velit elementum, viverra quam in, efficitur dui. Quisque tincidunt hendrerit odio, cursus suscipit nisl porta eu. Curabitur finibus sapien urna. Fusce dui ante, finibus sed orci ac, dignissim pretium justo. Mauris eu lorem ac arcu gravida malesuada non non nisi. Curabitur ultrices a orci sed varius. Nulla ullamcorper neque sapien, quis placerat nibh rhoncus luctus.</p>
</div>




{% endblock %}
