{% extends 'baseapp/base.html' %}



{% block content %}





<div class="row px-5">


<div class="col-md-8">
    <h3 class="p-4 mb-4 fst-italic border-bottom">
        List of " {{cat_list.cat}} " post
    </h3>

    

        <article class="blog-post ">


            {% for post in cat_list.post %}
            <h2 class="blog-post-title "><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p class="blog-post-meta">{{post.published_date|date:'M D Y' }} <a href="#">{{post.user}}</a></p>
            <p class="blog-post-meta">category: <a href="">{{post.category}}</a></p>

            <div>
                <p class=" blog-content">{{ post.text|safe|linebreaksbr|truncatechars:450 }}</p>
                <a class="blog-content" style="text-decoration: none;" id="link" href="{% url 'post_detail' pk=post.pk %}">Comments : {{post.approved_comments.count}}</a>
            </div>
            {% if post.published_date %}
                <p>Published On: {{post.published_date|date:'D M Y' }}</p>
                {% else %}
                    <p>Created on : {{ post.created_date|date:'D M Y' }}</p>
                    <a class="btn btn-success brand" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                    
                {% endif %}

        </article>

            {% empty %}
                <h4>No post available in " {{cat_list.cat}} " category!</h4>
            {% endfor %}

    

                  <!-- Footer  -->

    <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled">Newer</a>
    </nav>

  </div>
  <div class="col-4">
    

    <div class="col" style="position: relative;">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <a class="btn btn btn-outline-light my-5 p-1 bg-dark color-white" href="{% url 'about' %}"> About </a>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam et mauris mattis consequat. Nunc sit amet dui nec risus consequat hendrerit. Sed ut lorem vitae nibh mollis dignissim et ut nisi. </p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
        {% for item in category %}
             <a class="p-2 link-secondary" href="#">{{item.name}}</a>
        {% endfor %}
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>


</div>









{% endblock %}